
# Exclude packaged modules
*.zip

# Exclude .NET assemblies from source
*.dll

#exclude profile file
profile.json

#exclude config files
config.csv
configTest*.csv

*.xml

#Exclude logs
logs/*

#Exclude Tests
Test-*

#Exclude generalized VMs credentials
credentials.csv

#Exclude DTL module
# WORKAORUND: so we can modify the library to work around this issue:
# https://github.com/Azure/azure-powershell/issues/9448
# Az.DevTestLabs2.psm1

#Exclude any key pair
sample_key*
*.pub
