
# Exclude packaged modules
*.zip

# Exclude .NET assemblies from source
*.dll

#exclude profile file
profile.json

#exclude config files
config.csv
configTest*.csv

*.xml

#Exclude logs
logs/*

#Exclude Tests
Test-*

#Exclude DTL module
Az.DevTestLabs2.psm1